@import '../../../assets/scss/main.scss';


.section-search{
    margin-top: 10px;
    
    #search-stock {
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 20px;
        padding: 10px;
        width: 100%;
    }
}

