<div class="container">
    <div class="row stock-content">
        <div class="col-2 section-nav">
            <div class="section-nav-fixed sticky-top">
                <div class="section-name">
                    
                </div>
                <div class="section-nav-link">
                    <ul class="nav flex-column ">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">ข้อมูลบริษัท</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ราคา</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">เทคนิค</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">งบการเงิน</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-10 section-content">
            <div class="section-info section-name sticky-top">
                <div class="company-name">
                    <div class="short-name">
                        EA
                    </div>
                    <div class="fulll-name">
                        <p>บริษัท พลังงานบริสุทธิ์ จำกัด (มหาชน)</p>
                        <p>ENERGY ABSOLUTE PUBLIC COMPANY LIMITED</p>
                    </div>
                </div>
                <div class="section-name-price">
                    <div class="price-now">
                        63.00
                    </div>
                    <div class="price-volum">
                        -1.75 (-2.70%)
                    </div>
                </div>
            </div>
            <div class="section-info section-company">
                <p>บริษัท พลังงานบริสุทธิ์ (Energy Absolute) ดำเนินธุรกิจใน 2 ธุรกิจหลัก ได้แก่ ธุรกิจไบโอดีเซล และ ธุรกิจโรงไฟฟ้า ทั้งโรงไฟฟ้าพลังงานแสงอาทิตย์และโรงไฟฟ้าพลังงานลม 
                    นอกจากนี้ เพื่อตอบโจทย์การเป็นผู้นำด้านพลังงานทางเลือกและสนับสนุนการพัฒนาพลังงานสะอาด EA ได้ลงทุนในธุรกิจพลังงานเพื่ออนาคต ไม่ว่าจะเป็น สถานีอัดประจุไฟฟ้าสำหรับรถยนต์ไฟฟ้า 
                    หรือ Charging Station รวมถึงการผลิตรถยนต์ไฟฟ้า ภายใต้ชื่อ MINE Mobility และธุรกิจผลิตแบตเตอรี่</p>
            </div>
            <div class="section-info section-price">
                ราคา
            </div>
            <div class="section-info section-techincal ">
                เทคนิค
            </div>
            <div class="section-info section-financial ">
                งบการเงิน
            </div>
        </div>
    </div>
</div>

