<div class="container ">
    <div class="row temstock-content">
        <div class="col-2 content-fixed">
            <div class="p-3 stock-sidebar">
                    <div class="stock-name">
                        <h4>EA</h4>
                    </div>
                    <div class="nav flex-column">
                        <a href="#" class="nav-link pl-0">ข้อมูลบริษัท</a>
                        <a href="#" class="nav-link pl-0">กราฟราคา</a>
                        <a href="#" class="nav-link pl-0">เทคนิค</a>
                        <a href="#" class="nav-link pl-0">งบการเงิน</a>
                        <a href="#" class="nav-link pl-0">ผู้ถือหุ้น</a>
                    </div>
            </div>
        </div>
        <div class="col-10 content-scroll">
            <section class="section-name" id="section-name">
                <h4 class="sticky-top">บริษัท พลังงานบริสุทธิ์ จำกัด (มหาชน)</h4>
            </section>
            <section class="content-section section-infomation" id="section-info">
                Company Info
            </section>
            <section class="content-section section-price" id="section-price">
                Price
            </section>
            <section class="content-section section-technical" id="section-technical">
                Technical
            </section>
            <section class="content-section section-finance" id="section-finance">
                Finance
            </section>
            <section class="content-section section-holder" id="section-holder">
                Holder
            </section>
        </div>
    </div>
</div>

