@import '../../../assets/scss/main.scss';

.stock-content {
    padding: 56px 0 0 0;
}

.section-nav {
    //background: blue;
    padding: 0;
    .section-nav-fixed {
        top: 56px;
        .section-nav-link{
            //background: red;
        }
    }
}

.section-content {
    .section-info {
        background: red;
        margin: 0 0 10px 0;
        height: 400px;
    }
    
    .section-name {
        background: yellow;
        height: 56px;
        padding: 10px;
        margin: 0;
        top: 56px;
        
        
    }
}


